* {
    padding: 0;
    margin: 0;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

html {
    background-color: black;
}

body {
    background-color: #DAE1E9;
    font-family: 'Inter', sans-serif;

    margin: 0 auto;
    min-width: 600px;
    max-width: 600px;
}

.filter-and-close {
    padding-top: 1rem;
    padding-bottom: 1rem;

    display: flex;
    justify-content: space-between;
}

.close {
    font-size: small;

    display: flex;
    align-items: center;
    cursor: pointer;

    img {
        width: 1.5rem;
    }
}

.filter-and-delete {
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 0;

    display: flex;
    justify-content: space-between;
}

.delete-all {
    font-size: small;

    display: flex;
    align-items: center;
    cursor: pointer;

    img {
        width: 1rem;
    }
}

hr {
    padding: 0;
    margin: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.sorted {
    margin-left: 1rem;
    padding-bottom: 1rem;
}

#sorted-button {
    color: white;
    border: none;
    background-color: #131416;
    border-radius: 5px;
    padding: 0.3rem;
}

.type-of-meal {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.meal-type,
.special-diet {
    background-color: #F3F4F8;
    border-radius: 0.5rem;

    padding: 0.7rem;
    padding-right: 2rem;
}

.special-diet {
    padding-right: 5rem;
}

.meal-type-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    margin: 0;
    padding-top: 0.8rem;
}

.special-diet-buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    margin: 0;
    padding-top: 0.8rem;
}

.button {
    padding: 0.2rem;
    margin: 0.2rem;
    border-radius: 0.3rem;

    border: 1.5px solid #3C4556;
    background-color: #F3F4F8;
    color: #3C4556;
    font-size: small;
    cursor: pointer;
}

.ingredients {
    background-color: #F3F4F8;
    border-radius: 0.5rem;

    padding: 0.7rem;
    padding-right: 2rem;
    margin: 1rem;
}

.include-exclude {
    display: flex;
    justify-content: space-between;

    margin: 0;
    padding-top: 1rem;
}

.ingredient-group {
    flex: 1;
    display: flex;
    flex-direction: column;

    margin: 0;
}

.ingredient-group textarea {
    margin-top: 0.5rem;
    min-height: 150px;
    border: none;
    padding: 1rem;
    background: #DAE1E9;
    font-size: smaller;
    resize: none;
}

.price-filter {
    background-color: #F3F4F8;
    padding: 0.5rem;
    margin: 1rem;
    border-radius: 0.5rem;
}

.price-inputs {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0;
}

.price-box {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
}

.price-input {
    display: flex;
    align-items: center;
    padding: 0.4rem 0.6rem;
    margin: 0;
    border: 1.5px solid black;
    border-radius: 0.5rem;
    background: white;
    width: fit-content;
}

.slider {
    width: 100%;
    margin: 0;
    accent-color: black;
}

.cooking-time {
    background-color: #F3F4F8;
    border-radius: 0.5rem;

    padding: 0.7rem;
    padding-right: 2rem;
    margin: 1rem;
}

.cooking-time-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    margin: 0;
    padding-top: 0.8rem;
}

.theme {
    background-color: #F3F4F8;
    border-radius: 0.5rem;

    padding: 0.7rem;
    padding-right: 2rem;
    margin: 1rem;
}

.theme-buttons {
    display: grid;
    grid-template-columns: repeat(7, 1fr);

    margin: 0;
    padding-top: 0.8rem;
}

.holiday {
    background-color: #F3F4F8;
    border-radius: 0.5rem;

    padding: 0.7rem;
    padding-right: 2rem;
    margin: 1rem;
}

.holiday-buttons {
    display: grid;
    grid-template-columns: repeat(7, 1fr);

    margin: 0;
    padding-top: 0.8rem;
}

.show-recipies-button {
    text-align: center;
}

#show-recipies {
    background-color: #4B5766;
    color: white;
    border-radius: 2rem;
    padding: 0.7rem;
    padding-left: 7rem;
    padding-right: 7rem;
    font-size: large;
    margin-top: 2rem;
    margin-bottom: 5rem;
}