body{
    font-family:"Geist Mono", Arial, Helvetica, sans-serif;
    padding: 1rem;
    background-color:#DAE1E9 ;

    
}

#searchBar{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.4rem;
    padding-top: 0.4rem;
    border-radius: 2rem;
    margin-bottom: 1rem;
}
#search{
    border: 0rem;
}

#filter-and-sort{
    display: grid;
    grid-template-columns: 4fr 4fr ;
    grid-template-rows: 1fr;
    justify-items:center;
    
    
}


.header-buttons{
    width: 16rem;
    color: white;
    background-color: #4B5766;
    border: #4B5766;
    border-radius: 2rem;
    padding-right: 3rem;
    padding-left: 3rem;
    padding-bottom: 0.3rem;
    padding-top: 0.3rem;
}

#filter-icon{
    width: 10px;
}